* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Pirata One', cursive;
}

header {
    background-color: indigo;
    height: 250px;
    overflow: hidden;
    justify-content: space-between;

}

.logo {
    line-height: 200px;
    float: left;
}

header nav {
    
    float: right;
    line-height: 260px;
    
}

ul {
   
    list-style: none;
    font-size: 30px;
}

li {
    text-align: right;
    width: 150px;
    /*Sirve para separar los link de las paginas*/
    display: inline-block;
}

a {
    
    text-decoration: none;
    color: black;
}

a:hover {

    color: greenyellow;

}

