* {
    font-family: 'Pirata One', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../IMG/fondoGris.ico);

}

header {
    background-color: indigo; 
    justify-content: space-between;   
}

.titulo {

    font-size: 30px;
    font-style: normal;
    color: darkgray;
    text-align: left;
}

ul {
    text-align: right;
    list-style: none;
    font-size: 30px;
    
}

li {
    text-align: center;
    width: 150px;
    /*Sirve para separar los link de las paginas*/
    display: inline-flex;

}

a {
    text-align: center;
    text-decoration: none;
    color: black;

}

a:hover {
    
    color:greenyellow ;

}

h2 {
    font-size: 40px;
    text-align: left;
}

